@import "../../styles/app";

.dashboard-page {
  .breadcrumbs {
    .theme--dark.v-tabs > .v-tabs-bar {
      background-color: transparent;
      .v-tab--active {
        color: white;
      }
    }
    .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
      background-color: transparent;
    }
    .main-date-picker {
      .v-input__prepend-outer {
        margin-right: 0;
      }
      .v-input__control .v-input__slot {
        padding: 0 6px;
      }
    }
  }
  .main-page-title {
    font-size: 20px;
    font-weight: 500;
  }
  .apexcharts-legend-series {
    padding: 2px 5px 3px;
    display: flex;
    align-items: center;
    .apexcharts-legend-marker {
      margin-right: 8px;
    }
    .apexcharts-legend-text {
      color: var(--v-greyMedium-base)!important;
    }
  }

  .support-table {
    .v-data-table-header th {
      font-size: $fs-medium;
      color: var(--v-greyTint-base)!important;
      font-weight: 400;
    }
    tbody tr td {
      font-size: $fs-base!important;
    }
    &.theme--dark {
      .v-data-table {
        background-color: transparent;
      }
    }

    .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
      color: var(--v-greyBold-base)!important;
      .v-avatar {
        color: white;
      }
    }
  }
  .v-card {
    .v-card__title {
      .v-select.v-input--is-dirty input {
        display: none;
      }
      .v-input {
        max-width: max-content;
      }
      .v-select__selection {
        max-width: none;
        color: var(--v-greyTint-base)!important;
      }
      .v-text-field {
        margin-top: 0;
        .v-input__append-inner .v-input__icon {
          i {
            color: var(--v-greyTint-base)!important;
            margin-top: 4px!important;
          }
        }
      }
      .v-input--dense > .v-input__control > .v-input__slot {
        justify-content: flex-end;
        .v-select__slot {
          width: auto;
        }
      }

      .v-text-field > .v-input__control > .v-input__slot:before, .v-text-field > .v-input__control > .v-input__slot:after {
        content: none;
      }
    }
    .v-card__text {
      .subtext {
        font-size: 1.142rem;
        font-weight: 400;
        color: var(--v-greyBold-base);
      }
      .subtext-index {
        font-size: 11px;
        color: var(--v-greyMedium-base);
        font-weight: 400;
      }
    }
  }
  .v-tabs {
    .v-item-group.v-slide-group.v-tabs-bar {
      .v-slide-group__prev--disabled {
        display: none!important;
      }
    }
  }
  .daily-line {
    .main-chart-legend {
      padding-top: 5px;
      position: absolute;
      left: 20%;
      top: 50px;
      @include media-breakpoint-up(sm) {
        left: 40%;
        top: 10px;
      }
    }
  }

}
.support-card {
  &.theme--dark {
    #apexcharts-radialbarTrack-0 {
      stroke-opacity: 0;
    }
  }
}

.v-menu__content {
  box-shadow: $card-shadow!important;
}

