@import '../../../styles/app';
.tables-dynamic {
  .v-data-table {
    background-color: transparent!important;
    div.v-data-table__wrapper {
      table {
        thead tr th {
          font-size: 15px;
          font-weight: 500;
          color: var(--v-greyBold-base)!important;
        }
        tbody tr td {
          height: 58px;
        }
      }
    }
    .v-data-footer {
      font-size: $fs-medium;
    }
  }
}

