@import "../../styles/app";

ul.v-breadcrumbs {
  li:last-child div{
    color: var(--v-primary-base);
  }
  .v-breadcrumbs__item {
    font-size: 1.125rem;
    color: var(--v-greyMedium-base);
    cursor: pointer;
  }
}
.v-application.theme--dark {
  ul.v-breadcrumbs {
    li:last-child div{
      color: var(--v-primary-base);
    }
    .v-breadcrumbs__item {
      color: white;
    }
  }
}
