@import "../../styles/app";

.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--v-primary-base);
  .logo-wrapper {
    align-items: center;
    margin-bottom: 30px;

    .logo-title {
      font-size: 32px;
      font-weight: 500;
      color: white;
    }
  }
  .card {
    padding: 0 25px;
    background-color: white;
    border-radius: 4px;
    height: 680px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    @include media-breakpoint-up(md) {
      padding: 0 50px;
    }
    .error-logo {
      color: var(--v-primary-base);
      font-size: 110px;
      font-weight: 600;
      @include media-breakpoint-up(md) {
        font-size: 148px;
      }
    }
    .error-text {
      color: var(--v-primary-base);
      text-align: center;
      font-size: $h4-font-size;
      @include media-breakpoint-up(md) {
        font-size: $h3-font-size;
      }
    }
    .error-subtext {
      text-align: center;
      color: var(--v-greyTint-base);
      font-size: $h5-font-size;
      @include media-breakpoint-up(md) {
        font-size: $h4-font-size;
      }
    }
  }
}
